// fonts

+font('LoraRegular', 'LoraRegular')
+font('LoraItalic', 'LoraItalic')
+font('LoraBoldItalic', 'LoraBoldItalic')
+font('LoraBold', 'LoraBold')

+font('UbuntuLight', 'UbuntuLight')
+font('UbuntuRegular', 'UbuntuRegular')
+font('UbuntuBold', 'UbuntuBold')


=lora
  font-family: "LoraRegular", Arial, Helvetica, serif
=lora-i
	font-family: "LoraItalic", Arial, Helvetica, serif
=lora-bi
	font-family: "LoraBoldItalic", Arial, Helvetica, serif
=lora-b
  font-family: "LoraBold", Arial, Helvetica, serif

=ubuntu
  font-family: "UbuntuRegular", Arial, Helvetica, serif
=ubuntu-l
  font-family: "UbuntuLight", Arial, Helvetica, serif
=ubuntu-b
  font-family: "UbuntuBold", Arial, Helvetica, serif


body
  background: #FFF
  line-height: 1.2
  font-size: 14px
  min-width: 320px
  color: $black
  padding-top: 141px
  +lora
  +smooth-font
  +md
    padding-top: 107px
  &.is-hidden
    overflow: hidden
    +md
      width: 100%
      height: 100%
      position: fixed
      z-index: -1

a
	text-decoration: none

button
	background: none

img
  max-width: 100%

.text-center
	text-align: center

.text-right
	text-align: right

.text-left
	text-align: left

.text-orange
  color: $orange

.upper
	text-transform: uppercase

.bg-gray
  background: $gray
  min-height: 100%
  .section
    &:first-child
      margin-bottom: 145px
      +md
        margin-bottom: 100px

.bg-black
  background: $black
