// fonts

@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i|Ubuntu:300,400,700')
=lora
  font-family: "Lora", Arial, Helvetica, serif
  font-weight: 400
=lora-i
	font-family: "Lora", Arial, Helvetica, serif
	font-weight: 400
	font-style: italic
=lora-bi
	font-family: "Lora", Arial, Helvetica, serif
	font-weight: 700
	font-style: italic
=lora-b
  font-family: "Lora", Arial, Helvetica, serif
  font-weight: 700

=ubuntu
  font-family: "Ubuntu", Arial, Helvetica, serif
  font-weight: 400
=ubuntu-l
  font-family: "Ubuntu", Arial, Helvetica, serif
  font-weight: 300
=ubuntu-b
  font-family: "Ubuntu", Arial, Helvetica, serif
  font-weight: 700

body
  background: #FFF
  line-height: 1.2
  font-size: 14px
  min-width: 320px
  color: $black
  padding-top: 141px
  +lora
  +smooth-font
  +md
    padding-top: 107px
  &.is-hidden
    overflow: hidden
    +md
      width: 100%
      height: 100%
      position: fixed
      z-index: -1

a
	text-decoration: none

button
	background: none

img
  max-width: 100%

.text-center
	text-align: center

.text-right
	text-align: right

.text-left
	text-align: left

.text-orange
  color: $orange

.upper
	text-transform: uppercase

.bg-gray
  background: $gray
  min-height: 100%
  .section
    &:first-child
      margin-bottom: 145px
      +md
        margin-bottom: 100px

.bg-black
  background: $black
