.container
  position: relative
  max-width: 1570px
  width: 100%
  padding: 0 20px
  margin: 0 auto
  +clr
  +r(1400)
    max-width: 1280px
    padding: 0 45px
  +r(1200)
    padding: 0 30px
  +xs
    padding: 0 20px



.l
  display: flex
  flex-flow: row nowrap
  &:not(.l_not-col)
    +xs
      flex-direction: column
  &_stretch
    align-items: stretch
    height: 100%
  &_center
    align-items: center
  &_content-right
    justify-content: flex-end
  &_content-left
    justify-content: flex-start
  &_between
    justify-content: space-between
  &_around
    justify-content: space-around
  &_half
    .l__col
      max-width: 50%
      flex-basis: 50%
  &_not-half
    .l__col
      &:first-child
        max-width: 45%
        flex-basis: 45%
      &:last-child
        max-width: 55%
        flex-basis: 55%
  &__col
    flex: 1 0 auto

  &__col-order-1-xs
    +xs
      order: 1
  &__col-order-2-xs
    +xs
      order: 2
  &__col-order-3-xs
    +xs
      order: 3
