h1, .h1
  font-size: 52px
  margin-bottom: 30px
  +lora-bi

h2, .h2
  font-size: 60px
  margin-bottom: 80px
  +lora-bi

h3, .h3
  font-size: 48px
  +lora-bi

h4, .h4
  font-size: 30px
  +lora-bi

h5, .h5
  font-size: 28px
  +lora-bi


.title
  font-size: 18px
  +ubuntu-l

.title-sm
  font-size: 16px
  +ubuntu-l

.desc
  font-size: 24px
  +lora-i

.desc-sm
  font-size: 18px
  +lora-i
