---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}

	<section class="section section_vh" style="background-image: url('img/city.jpg')">
		<div class="l l_stretch l_content-right l_half">
			<div class="l__col">
				<div class="section__item section__item_image text-center" style="background-image: url('img/city-2.jpg')">
					<h1>«Ciao Italia!<br> Готуй і подорожуй»</h1>
					<div class="desc-sm"> Бізнес-тур для менеджерів ресторанного бізнесу та всіх, хто хоче познайомитись з тонкощами італійської кухні!</div>


					<div class="decor-block">
						{{mixins.icon('decor-line-top')}}

						<div class="h5 decor-block__text">5-12 квітня 2019</div>

						{{mixins.icon('decor-line-bottom')}}
					</div>

					<div class="counter">
						<div class="counter__title">До початку туру залишилось:</div>
						<div class="counter__in js-counter" data-counter="Apr 5, 2019 00:00:00">
							<div class="counter__item">
								<div class="counter__meta js-counter-days"></div>
								<div class="conter__desc">днів</div>
							</div>
							<div class="counter__item">
								<div class="counter__meta js-counter-hours"></div>
								<div class="conter__desc">годин</div>
							</div>
							<div class="counter__item">
								<div class="counter__meta js-counter-minutes"></div>
								<div class="counter__desc">хвилин</div>
							</div>

						</div>
					</div>

					<button class="section__button" type="button">
						{{mixins.icon('arr-down')}}
					</button>
				</div>
			</div>
		</div>
	</section>

	<section class="section">
		<div class="l l_stretch l_content-right l_half">
			<div class="l__col">
				<div class="section__item section__item_mod text-center">
					<div class="section__col">
						<div class="section__caption section__caption_border">6 насичених днів:</div>
						<div class="h4">Подорож регіоном Венетто від моря до гір!</div>
						{% set list = ['Венеція', 'Бурано', 'Чивідале-дель-Фріул', 'Сауріс', 'Трієст']%}
						<ul class="style-list">
							{% for item in list %}
							<li class="style-list__item">{{ item }}</li>
							{% endfor%}
						</ul>
						<button class="btn btn_border-green">Дізнатися більше</button>
					</div>
					<div class="section__col section__col_orange">
						<div class="places places_white">

							<div class="places__title">Залишилось місць:</div>
							<div class="places__in h2">
								<svg viewBox="0 -12  130 155" class="places__circle">
								   <circle cx="65" cy="65" r="72" style="stroke:#fff; fill:none"/>
								</svg>
								<span class="places__center">5</span>
							</div>
							<button class="btn btn_border-white">Дізнатися більше</button>
						</div>

					</div>
				</div>
			</div>

			<div class="l__col">
				<div class="section__item">
					<div class="slider js-slider-city">
						{% for i in range(0,5) %}
						<div><img src="./img/buildings.jpg" alt=""></div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>

	</section>

	<section class="section section_gup">
		<div class="text-center">
			<h2>Що в програмі туру:</h2>

			{% set imageList = [
				{
					img: 'chief-cooker',
					text: 'Приготування традиційних італійських страв у супроводі знаменитого шеф-кухар'
				},
				{
					img: 'restaurant',
					text: '100% занурення в техніку роботи  італійських ресторанів'
				},
				{
					img: 'cheese',
					text: 'Знайомства з  виноробами, власниками фабрик  прошутто, сирів'
				},
				{
					img: 'master-classes',
					text: 'Майстер-класи по Стандартам якості, фудкосту, мотивації  персоналу, сервісу'
				},
				{
					img: 'wine',
					text: 'Лекції від сомельє'
				}
				]%}
			<ul class="image-list">
				{% for item in imageList %}
				<li class="image-list__item">
					<img src="./img/{{ item.img }}.svg" alt="">
					<div class="desc-sm">{{ item.text }}</div>
				</li>
				{% endfor %}
			</ul>

			<div class="section__decor section__decor_orange"></div>
		</div>

		<div class="text-center">
			<div class="h2">Для кого тур?</div>
		</div>

		{% include './partials/_about.html' %}
	</section>


	<div class="bg-gray">
		<section class="section section_image" style="background-image: url('./img/kitchen.jpg')">
			<div class="container">
				<div class="section__meta meta">
					<div class="h3">Приєднуйтесь  до нас!</div>
					<div class="section__decor section__decor_green meta__decor"></div>
					<div class="title meta__title">З цієї подорожі ви привезете те тільки красиві фото, але й унікальні знання і досвід!</div>

					<div class="places places_green">

						<div class="places__in h2">
							<svg viewBox="0 -12  130 155" class="places__circle">
								<circle cx="65" cy="65.5" r="75.5" style="stroke:#6ecdbe; fill:none"/>
							</svg>
							<div class="places__center">
								<div class="places__title-in">Залишилось вільних місць:</div>
								<span>5</span>
								{{mixins.icon('decor-line-top')}}
								<div class="h4">Поспішай!</div>
							</div>
						</div>
					</div>

					<button class="btn btn_full-green btn_width">Взяти участь</button>
				</div>
			</div>
		</section>

		<section class="section " style="background-image: url('img/boats.jpg')">
			<div class="l l_stretch l_content-left l_half">
				<div class="l__col">
					<div class="section__item section__item_image text-center" style="background-image: url('img/boats-2.jpg')">
						<div class="section__width">
							<div class="h2 section__width_title">Програма туру</div>

							<div class="decor-block">
								{{mixins.icon('decor-line-top')}}
							</div>

							<div class="desc">Унікальна нагода поєднати відпочинок з нетворкінгом і навчанням!</div>

						</div>
					</div>
				</div>
			</div>
		</section>
		<div class="container">
			{% include './partials/_accordions.html' %}

			{% include './partials/_download.html'%}
		</div>
	</div>

	<section class="section section_gup">
		<div class="text-center">
			<div class="h2">Вартість туру</div>
		</div>

		<div class="container">
			<div class="cost">
				<div class="cost__item is-active">
					<div class="cost__decor decor-block">
						{{mixins.icon('decor-line-top')}}

						<div class="cost__decor-in">
							<div class="title">Зараз</div>
							<div class="h3">1800€</div>
						</div>

						{{mixins.icon('decor-line-bottom')}}
					</div>

					<button type="button" name="button" class="btn cost__btn">Взяти участь</button>
				</div>
				<div class="cost__item">
					<div class="cost__decor decor-block">
						{{mixins.icon('decor-line-top')}}

						<div class="cost__decor-in">
							<div class="title">з 15 лютого</div>
							<div class="h3">1999€</div>
						</div>

						{{mixins.icon('decor-line-bottom')}}
					</div>

					<button type="button" name="button" class="btn cost__btn">Взяти участь</button>
				</div>
				<div class="cost__item">
					<div class="cost__decor decor-block">
						{{mixins.icon('decor-line-top')}}

						<div class="cost__decor-in">
							<div class="title">з 01 березня</div>
							<div class="h3">2099€</div>
						</div>

						{{mixins.icon('decor-line-bottom')}}
					</div>

					<button type="button" name="button" class="btn cost__btn">Взяти участь</button>
				</div>
			</div>

			<div class="section__decor section__decor_green"></div>

			<div class="cost-additional">
				<div class="cost-additional__col">
					<div class="cost-additional__title">У вартість включено:</div>

					{% set include = ['Проживання в 2-місному номері «стандарт»','Харчування НВ (сніданки, обіди/вечері) + всі дегустації','Всі екскурсії, майстер-класи, зустрічі','Страхування на час туру','Бонусом для кожного учасника буде індивідуальна консультація щодо вашого бізнесу від італійських партнерів']%}
					<ul class="style-list style-list_width">
						{% for item in include %}
						<li class="style-list__item">{{ item }}</li>
						{% endfor %}
					</ul>
				</div>
				<div class="cost-additional__col">
					<div class="cost-additional__title">Додатково оплачується:</div>

					{% set notInclude = ['Переліт (ми можемо придбати авіа-квитки для Вас або проконсультувати щодо купівлі квитків)','Проживання в номерах підвищеного комфорту']%}

					<ul class="style-list style-list_width">
						{% for item in notInclude %}
						<li class="style-list__item">{{ item }}</li>
						{% endfor %}
					</ul>
				</div>
			</div>

			<div class="text-center">
				<div class="section__title">Ми хочемо, щоб усім було комфортно і кожен міг отримати індивідуальний підхід, тому кількість місць в турі 12-15.</div>
			</div>

		</div>

	</section>


	<section class="section section_gup bg-gray">
		<div class="container text-center">
			<div class="h3"> У нас збирається справді крута команда:</div>

			<div class="container">
				{% include './partials/_team.html' %}
			</div>
		</div>
	</section>


	<section class="section">
		<div class="l l_not-half l_stretch ">
			<div class="l__col">
				<div class="section__width">
					<div class="container">
						<div class="h3">Станьте учасником бізнес-туру</div>
						<p>Зателефонуйте нам, або заповніть форму і ми зв’яжимося з вами для уточнення всіх нюансів.</p>

						<a href="tel:+380972222222" class="">+38 097 222 22 22</a>
						<a href="tel:+380972222233" class="">+38 097 222 22 33</a>
						<a href="mailto:email@bisnestur.com?subject=Form-feedback">email@bisnestur.com</a>
					</div>
				</div>
			</div>
			<div class="l__col bg-black">
				<form action="/" class="form">
					<div class="form__title desc">Залиште свої контакти щоб дізнатися деталі</div>
					<div class="form__line">
						<div class="input">
							<input type="text" name="name" placeholder="Ваше ім’я:">
						</div>
					</div>
					<div class="form__line">
						<div class="input">
							<input type="tel" name="tel" pattern="[0-9]{3}[0-9]{3}[0-9]{4}" placeholder="ТЕЛЕФОН:">
						</div>
					</div>
					<div class="form__line">
						<div class="checkbox">
							<input type="checkbox" id="privacy"
       				required >
							<label for="privacy">Я приймаю <a href="/privacy.html" target="_blank">політику конфеденційності</a></label>
						</div>
					</div>
					<div class="form__btn">
						<button type="submit" name="button" class="btn btn_width btn_full-orange">Надіслати</button>
					</div>
				</form>
			</div>
		</div>
	</section>



{% endblock %}
