---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}

	<section class="section section_vh lazy" data-bg="url('img/city.jpg')" >
		<div class="l l_stretch l_content-right l_half">
			<div class="l__col">
				<div class="section__item section__item_image text-center lazy" data-bg="url('img/city-2.jpg')">
					<h1>«Ciao Italia!<br> Готуй і подорожуй»</h1>
					<div class="desc-sm"> Бізнес-тур для менеджерів ресторанного бізнесу та всіх, хто хоче познайомитись з тонкощами італійської кухні!</div>


					<div class="decor-block">
						{{mixins.icon('decor-line-bottom')}}

						<div class="h5 decor-block__text">5-12 квітня 2019</div>

						{{mixins.icon('decor-line-top')}}
					</div>

					<div class="counter">
						<div class="counter__title">До початку туру залишилось:</div>
						<div class="counter__in js-counter" data-counter="Apr 5, 2019 00:00:00">
							<div class="counter__item">
								<div class="counter__meta js-counter-days"></div>
								<div class="conter__desc">днів</div>
							</div>
							<div class="counter__item">
								<div class="counter__meta js-counter-hours"></div>
								<div class="counter__desc">годин</div>
							</div>
							<div class="counter__item">
								<div class="counter__meta js-counter-minutes"></div>
								<div class="counter__desc">хвилин</div>
							</div>

						</div>
					</div>

					<button class="section__button js-go-to" type="button" data-go="location">
						{{mixins.icon('arr-down')}}
					</button>
				</div>
			</div>
		</div>
	</section>

	<section class="section js-section" data-id="location">
		<div class="l l_stretch l_content-right l_half">
			<div class="l__col">
				<div class="section__item section__item_mod text-center">
					<div class="section__col">
						<div class="section__caption section__caption_border">6 насичених днів:</div>
						<h4 class="">Подорож регіоном Венетто від моря до гір!</h4>
						{% set list = ['Венеція', 'Бурано', 'Чивідале-дель-Фріул', 'Сауріс', 'Трієст']%}
						<ul class="style-list">
							{% for item in list %}
							<li class="style-list__item">{{ item }}</li>
							{% endfor%}
						</ul>
						<button class="btn btn_border-green js-go-to" data-go="question">Дізнатися більше</button>
					</div>
					<div class="section__col section__col_orange">
						<div class="places places_white js-places">

							<div class="places__title">Залишилось місць:</div>
							<div class="places__in h2">
								<svg viewBox="0 -12  130 155" class="places__circle">
								   <circle cx="65" cy="65" r="72" style="stroke:#fff; fill:none"/>
								</svg>
								<span class="places__center js-places-num" data-end="5">25</span>
							</div>
							<button class="btn btn_border-white js-go-to" data-go="question">Дізнатися більше</button>
						</div>

					</div>
				</div>
			</div>

			<div class="l__col">
				<div class="section__item">
					<div class="slider js-slider-city">
						{% for i in range(0,5) %}
						<div><img src="" class="lazy" data-src="./img/buildings.jpg" alt=""></div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>

	</section>

	<section class="section section_gup js-section" data-id="details">
		<div class="text-center">
			<h2>Що в програмі туру:</h2>

			{% set imageList = [
				{
					img: 'chief-cooker',
					text: 'Приготування традиційних італійських страв у супроводі знаменитого шеф-кухар'
				},
				{
					img: 'restaurant',
					text: '100% занурення в техніку роботи  італійських ресторанів'
				},
				{
					img: 'cheese',
					text: 'Знайомства з  виноробами, власниками фабрик  прошутто, сирів'
				},
				{
					img: 'master-classes',
					text: 'Майстер-класи по Стандартам якості, фудкосту, мотивації  персоналу, сервісу'
				},
				{
					img: 'wine',
					text: 'Лекції від сомельє'
				}
				]%}
			<ul class="image-list">
				{% for item in imageList %}
				<li class="image-list__item">
					<img src="" class="lazy" data-src="./img/{{ item.img }}.svg" alt="">
					<div class="desc-sm">{{ item.text }}</div>
				</li>
				{% endfor %}
			</ul>

			<div class="section__decor section__decor_orange"></div>
		</div>

		<div class="text-center">
			<div class="h2">Для кого тур?</div>
		</div>

		{% include './partials/_about.html' %}
	</section>


	<div class="bg-gray">
		<section class="section section_image lazy" data-bg="url('./img/kitchen.jpg')">
			<div class="container">
				<div class="section__meta meta">
					<h3 class="">Приєднуйтесь  до нас!</h3>
					<div class="section__decor section__decor_green meta__decor"></div>
					<div class="title meta__title">З цієї подорожі ви привезете те тільки красиві фото, але й унікальні знання і досвід!</div>

					<div class="places places_green js-places">

						<div class="places__in h2">
							<svg viewBox="0 -12  130 155" class="places__circle">
								<circle cx="65" cy="65.5" r="75.5" style="stroke:#6ecdbe; fill:none"/>
							</svg>
							<div class="places__center">
								<div class="places__title-in">Залишилось вільних місць:</div>
								<span class="js-places-num" data-end="5">25</span>
								{{mixins.icon('decor-line-top')}}
								<div class="h4">Поспішай!</div>
							</div>
						</div>
					</div>

					<button class="btn btn_full-green btn_width js-go-to" data-go="question">Взяти участь</button>
				</div>
			</div>
		</section>

		<section class="section section_hidden-img-xs js-section lazy" data-bg="url('img/boats.jpg')"  data-id="program">
			<div class="l l_stretch l_content-left l_half">
				<div class="l__col">
					<div class="section__item section__item_image section__item_image-sm text-center lazy" data-bg="url('img/boats-2.jpg')">
						<div class="section__width">
							<h2 class=" section__width_title">Програма туру</h2>

							<div class="decor-block">
								{{mixins.icon('decor-line-top')}}
							</div>

							<div class="desc">Унікальна нагода поєднати відпочинок з нетворкінгом і навчанням!</div>

						</div>
					</div>
				</div>
			</div>
		</section>
		<div class="container">
			{% include './partials/_accordions.html' %}

			{% include './partials/_download.html'%}
		</div>
	</div>

	<section class="section section_gup js-section" data-id="cost">
		<div class="text-center">
			<h2 class="">Вартість туру</h2>
		</div>

		<div class="container">
			<div class="cost">
				<div class="cost__item is-active">
					<div class="cost__decor decor-block">
						{{mixins.icon('decor-line-top')}}

						<div class="cost__decor-in">
							<div class="title">Зараз</div>
							<div class="h3">1800€</div>
						</div>

						{{mixins.icon('decor-line-bottom')}}
					</div>

					<button type="button" name="button" class="btn cost__btn js-go-to" data-go="question">Взяти участь</button>
				</div>
				<div class="cost__item">
					<div class="cost__decor decor-block">
						{{mixins.icon('decor-line-top')}}

						<div class="cost__decor-in">
							<div class="title">з 15 лютого</div>
							<div class="h3">1999€</div>
						</div>

						{{mixins.icon('decor-line-bottom')}}
					</div>

					<button type="button" name="button" class="btn cost__btn js-go-to" data-go="question">Взяти участь</button>
				</div>
				<div class="cost__item">
					<div class="cost__decor decor-block">
						{{mixins.icon('decor-line-top')}}

						<div class="cost__decor-in">
							<div class="title">з 01 березня</div>
							<div class="h3">2099€</div>
						</div>

						{{mixins.icon('decor-line-bottom')}}
					</div>

					<button type="button" name="button" class="btn cost__btn js-go-to" data-go="question">Взяти участь</button>
				</div>
			</div>

			<div class="section__decor section__decor_green"></div>

			<div class="cost-additional">
				<div class="cost-additional__col">
					<div class="cost-additional__title">У вартість включено:</div>

					{% set include = ['Проживання в 2-місному номері «стандарт»','Харчування НВ (сніданки, обіди/вечері) + всі дегустації','Всі екскурсії, майстер-класи, зустрічі','Страхування на час туру','Бонусом для кожного учасника буде індивідуальна консультація щодо вашого бізнесу від італійських партнерів']%}
					<ul class="style-list style-list_width">
						{% for item in include %}
						<li class="style-list__item">{{ item }}</li>
						{% endfor %}
					</ul>
				</div>
				<div class="cost-additional__col">
					<div class="cost-additional__title">Додатково оплачується:</div>

					{% set notInclude = ['Переліт (ми можемо придбати авіа-квитки для Вас або проконсультувати щодо купівлі квитків)','Проживання в номерах підвищеного комфорту']%}

					<ul class="style-list style-list_width">
						{% for item in notInclude %}
						<li class="style-list__item">{{ item }}</li>
						{% endfor %}
					</ul>
				</div>
			</div>

			<div class="text-center">
				<div class="section__title">Ми хочемо, щоб усім було комфортно і кожен міг отримати індивідуальний підхід, тому кількість місць в турі 12-15.</div>
			</div>

		</div>

	</section>


	<section class="section section_gup bg-gray js-section" data-id="about">
		<div class="container text-center">
			<h3 class=" container__md"> У нас збирається справді крута команда:</h3>

			{% include './partials/_team.html' %}

		</div>
	</section>


	<section class="section js-section" data-id="question">
		<div class="l l_not-half l_stretch l_col-md">
			<div class="l__col section__relative">
				<div class="section__width">
					<div class="container">
						<div class="form-details">
							<h3 class="form-details__title ">Станьте учасником бізнес-туру</h3>
							<p class="form-details__text">Зателефонуйте нам, або заповніть форму і ми зв’яжимося з вами для уточнення всіх нюансів.</p>

							<a href="tel:+380972222222" class="form-details__phone">+38 097 222 22 22</a>
							<a href="tel:+380972222233" class="form-details__phone">+38 097 222 22 33</a>
							<a href="mailto:email@bisnestur.com?subject=Form-feedback" class="form-details__email">email@bisnestur.com</a>

						</div>
					</div>
				</div>
				<div class="section__line section__line_md"></div>
			</div>
			<div class="l__col bg-black">
				<form action="/" class="form js-form" id="callback" method="POST">
					<div class="form__title desc">Залиште свої контакти щоб дізнатися деталі</div>
					<div class="form__line">
						<div class="input">
							<input type="text" name="name" minlength="2" placeholder="Ваше ім’я:" required>
						</div>
					</div>
					<div class="form__line">
						<div class="input">
							<input type="tel" class="js-mask-tel" name="tel" placeholder="ТЕЛЕФОН:" required>
						</div>
					</div>
					<div class="form__line">
						<div class="checkbox">
							<input type="checkbox" id="privacy"
       				required >
							<label for="privacy">Я приймаю <a href="./privacy.html" target="_blank">політику конфеденційності</a></label>
						</div>
					</div>
					<div class="form__btn">
						<input type="submit" value="Надіслати" class="btn btn_width btn_full-orange">
					</div>
				</form>
			</div>
		</div>
	</section>

	<section class="section bg-gray">
		<div class="container">
			<div class="organization">
				<div class="text-center">
					{{mixins.icon('decor-line-top')}}
					<h2 class="organization__title ">Про організаторів</h2>
				</div>
				<div class="organization__text">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

				</div>

				<div class="text-center">
					{{mixins.icon('decor-line-bottom')}}

					<div class="desc">Долучайся до нас у соцмережах</div>
					<ul class="soc soc_md">
						<li class="soc__item">
							<a href="https://www.facebook.com/" target="_blank" class="soc__link">
								{{ mixins.icon('fb')}}
							</a>
						</li>
						<li class="soc__item">
							<a href="https://plus.google.com/" target="_blank" class="soc__link">
								{{ mixins.icon('google-plus')}}
							</a>
						</li>
						<li class="soc__item">
							<a href="https://www.instagram.com/" target="_blank" class="soc__link">
								{{ mixins.icon('insta')}}
							</a>
						</li>
						<li class="soc__item">
							<a href="https://www.pinterest.com/" target="_blank" class="soc__link">
								{{ mixins.icon('pinterest')}}
							</a>
						</li>
						<li class="soc__item">
							<a href="https://twitter.com/" target="_blank" class="soc__link">
								{{ mixins.icon('tw')}}
							</a>
						</li>
						<li class="soc__item">
							<a href="https://vk.com/" target="_blank" class="soc__link">
								{{ mixins.icon('vk')}}
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>



{% endblock %}
