{% set about = [
  {
    img: 'men',
    text: 'Для власників і менеджерів ресторанів, кафе, барів.'
  },
  {
    img: 'chief',
    text: 'Для всіх, хто прагне розкрити секрети італійського ресторанного бізнесу.'
  },
  {
    img: 'pizza',
    text: 'Для тих, хто хоче розвиватись, покращувати сервіс і досягати найвищої якості!'
  }
  ]%}


<div class="about-tour">
  {% for item in about %}
  <div class="about-tour__item about-tour__item_{{item.img}}">
    <div class="about-tour__img">
      <img src="./img/{{ item.img }}.jpg" alt="">
    </div>
    <div class="about-tour__content">
      {{mixins.icon('decor-line-top')}}

      <div class="about-tour__desc">{{ item.text }}</div>

      {{mixins.icon('decor-line-bottom')}}
    </div>
  </div>
  {% endfor %}
</div>
