<div class="accordion">

  <!-- BEGIN accordion -->
  <div class="accordion__item js-accordion">
    <button type="button" class="accordion__header js-accordion-btn is-active">
      <span class="accordion__col">
        <span class="accordion__text">
          ДЕНЬ 1 <span class="text-orange"> / </span> п’ятниця
        </span>
      </span>
      <span class="accordion__col">
        <span class="h5 text-orange">05 квітня 2019</span>
        <br>
        <span class="accordion__desc"> Прибуття в Венецію</span>
      </span>
      <span class="accordion__col">
        <span class="icon-in-circle">
          <span class="icon-in-circle__in">
            <span></span>
            <span></span>
          </span>
        </span>
      </span>
    </button>

    <div class="accordion__content js-accordion-content" style="display: block;">
      <div class="accordion__line accordion__line-diff">
        <div class="accordion__time"></div>
        <div class="accordion__about">
          <div class="desc">Прибуття в Венецію</div>

          <ul class="accordion__list">
            <li><a href="http://www.hotel-firenze.com/" target="_blank" class="link">Сайт готелю {{mixins.icon('arr-right')}}</a></li>
            <li><a href="https://goo.gl/maps/STwavqeBfTn" target="_blank" class="link">Подивитися розташування готелю на карті {{mixins.icon('arr-right')}}</a></li>
            <li><a href="#" target="_blank" class="link">Подивитися на карті {{mixins.icon('arr-right')}}</a></li>
          </ul>
        </div>
        <div class="accordion__additionally">
          <div class="title-sm">
            Трансфер до готелю, вечеря. Поселення в готель поруч з Венецією
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END accordion -->

  <!-- BEGIN accordion -->
  <div class="accordion__item js-accordion">
    <button type="button" class="accordion__header js-accordion-btn is-active">
      <span class="accordion__col">
        <span class="accordion__text">
          ДЕНЬ 2 <span class="text-orange"> / </span> СУБОТА
        </span>
      </span>
      <span class="accordion__col">
        <span class="h5 text-orange">06 квітня 2019</span>
        <br>
        <span class="accordion__desc">Відвідання меркато <br> Знайомство з рестораном «***» <br> Гастро -тур у Венецією</span>
      </span>
      <span class="accordion__col">
        <span class="icon-in-circle">
          <span class="icon-in-circle__in">
            <span></span>
            <span></span>
          </span>
        </span>
      </span>
    </button>

    <div class="accordion__content js-accordion-content" style="display: block;">
      <div class="accordion__line">
        <div class="accordion__time">
          <div class="text-orange">8:00 - 9:00</div>
        </div>
        <div class="accordion__about">
          <div class="desc">Сніданок в готелі </div>
        </div>
      </div>

      <div class="accordion__line">
        <div class="accordion__time">
          <div class="text-orange">9:00 - 11:00</div>
        </div>
        <div class="accordion__about">
          <div class="desc">Відвідання меркато у супроводі шеф-кухаря…</div>
          <div class="desc">Майстер-клас «Як обирати продукти» </div>
          <ul class="accordion__list">
            <li><a href="https://www.tripadvisor.it/Attraction_Review-g187870-d544357-Reviews-Mercati_di_Rialto-Venice_Veneto.html" target="_blank" class="link">Детальніше {{mixins.icon('arr-right')}}</a></li>
          </ul>
        </div>
      </div>

      <div class="accordion__line">
        <div class="accordion__time">
          <div class="text-orange">11:00 - 14:00</div>
        </div>
        <div class="accordion__about">
          <div class="desc">
            Знайомство з рестораном «***»
          </div>
          <div class="desc">
            Майстер клас від шефа <br> «Організація процесів кухні та залу. Необхідні інструменти і обладнання»
          </div>
          <div class="desc">Обід</div>
          <ul class="accordion__list">
            <li><a href="https://www.tripadvisor.it/Attraction_Review-g187870-d544357-Reviews-Mercati_di_Rialto-Venice_Veneto.html" target="_blank" class="link">Сайт ресторану {{mixins.icon('arr-right')}}</a></li>
            <li><a href="https://www.tripadvisor.it/Attraction_Review-g187870-d544357-Reviews-Mercati_di_Rialto-Venice_Veneto.html" target="_blank" class="link">Подивитися на карті {{mixins.icon('arr-right')}}</a></li>
          </ul>
        </div>
        <div class="accordion__additionally">
          <div class="title-sm">
            Ресторан <br>
            Кухар (харизматичний і професійний)
          </div>
        </div>
      </div>

      <div class="accordion__line">
        <div class="accordion__time">
          <div class="text-orange">14:00 - 17:00</div>
        </div>
        <div class="accordion__about">
          <div class="desc">Гастро-тур Венецією або <br>Урок в кулінарній школі «Технологія приготування традиційних італійських страв»</div>
          <ul class="accordion__list">
            <li><a href="https://www.tripadvisor.it/AttractionProductDetail-g187870-d12577819-Eat_Like_a_Local_3_hour_Venice_Small_Group_Food_Tasting_Walking_Tour-Venice_Veneto.html" target="_blank" class="link">Детальніше {{mixins.icon('arr-right')}}</a></li>
            <li><a href="https://www.tripadvisor.it/AttractionProductDetail-g187871-d11458021-Cooking_Class_in_Valpolicella_Area-Verona_Province_of_Verona_Veneto.html" target="_blank" class="link">Детальніше {{mixins.icon('arr-right')}}</a></li>
          </ul>
        </div>
        <div class="accordion__additionally"></div>
      </div>

      <div class="accordion__line">
        <div class="accordion__time">
          <div class="text-orange">17:00</div>
        </div>
        <div class="accordion__about">
          <div class="desc">
            Вільний час / Екскурсія містом Венеція
          </div>
        </div>
        <div class="accordion__additionally">
          <a href="#" class="member js-popup-open" data-target="Aleksandrovsky-Alex">
            <span class="member__pic">
              <img src="./img/people/people-2.jpg" alt="">
            </span>
            <span class="member__name text-orange">Aleksandrovsky Alex</span>
            <span class="member__desc">Гід</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- END accordion -->

  <!-- BEGIN accordion -->
  <div class="accordion__item js-accordion">
    <button type="button" class="accordion__header js-accordion-btn">
      <span class="accordion__col">
        <span class="accordion__text">
          ДЕНЬ 3 <span class="text-orange"> / </span> НЕДІЛЯ
        </span>
      </span>
      <span class="accordion__col">
        <span class="h5 text-orange">07 квітня 2019</span>
        <br>
        <span class="accordion__desc">Майстер-клас «Мотивація команди ресторану» <br>Екскурсія в м. Бурано</span>
      </span>
      <span class="accordion__col">
        <span class="icon-in-circle">
          <span class="icon-in-circle__in">
            <span></span>
            <span></span>
          </span>
        </span>
      </span>
    </button>
    <div class="accordion__content js-accordion-content">

      <div class="accordion__line">
        <div class="accordion__time">
          <div class="text-orange">8:00 - 10:00</div>
        </div>
        <div class="accordion__about">
          <div class="desc">Сніданок в готелі </div>
        </div>
        <div class="accordion__additionally">
          <div class="title-sm">
            Венеція
          </div>
        </div>
      </div>

      <div class="accordion__line">
        <div class="accordion__time">
          <div class="text-orange">11:00 - 14:00</div>
        </div>
        <div class="accordion__about">
          <div class="desc">Майстер-клас «Мотивація команди ресторану»</div>
          <div class="accordion__wrap">
            <div class="desc"> - Як будують роботу з персоналом в Італійському ресторані</div>
            <div class="desc"> - Чому кількість персоналу не визначає якість сервісу</div>
            <div class="desc"> - Чому в Італії бути камерєре престижно?</div>
            <div class="desc"> - Концепція ресторану – не лише дизайн.</div>
          </div>
        </div>
        <div class="accordion__additionally">
          <a href="#" class="member js-popup-open" data-target="Aleksandrovsky-Alex">
            <span class="member__pic">
              <img src="./img/people/people-2.jpg" alt="">
            </span>
            <span class="member__name text-orange">Гаріна Н.</span>
            <span class="member__desc">ресторатор</span>
          </a>
          <a href="#" class="member js-popup-open" data-target="Aleksandrovsky-Alex">
            <span class="member__pic">
              <img src="./img/people/people-2.jpg" alt="">
            </span>
            <span class="member__name text-orange">Гаріна Н.</span>
            <span class="member__desc">ресторатор</span>
          </a>
        </div>
      </div>

      <div class="accordion__line">
        <div class="accordion__time">
          <div class="text-orange">14:00 - 19:00</div>
        </div>
        <div class="accordion__about">
          <div class="desc">Екскурсія в м. Бурано</div>
        </div>
        <div class="accordion__additionally">
          <a href="#" class="member js-popup-open" data-target="Aleksandrovsky-Alex">
            <span class="member__pic">
              <img src="./img/people/people-2.jpg" alt="">
            </span>
            <span class="member__name text-orange">Aleksandrovsky Alex</span>
            <span class="member__desc">Гід</span>
          </a>
        </div>
      </div>

      <div class="accordion__line">
        <div class="accordion__time">
          <div class="text-orange">19:00</div>
        </div>
        <div class="accordion__about">
          <div class="desc">Повернення в готель, вільний час</div>
          <ul class="accordion__list">
            <li><a href="#" target="_blank" class="link">Подивитися на карті {{mixins.icon('arr-right')}}</a></li>
          </ul>
        </div>
        <div class="accordion__additionally"></div>
      </div>

    </div>
  </div>
  <!-- END accordion -->

  <!-- BEGIN accordion -->
  <div class="accordion__item js-accordion">
    <button type="button" class="accordion__header js-accordion-btn">
      <span class="accordion__col">
        <span class="accordion__text">
          ДЕНЬ 4 <span class="text-orange"> / </span> ПОНЕДІЛОК
        </span>
      </span>
      <span class="accordion__col">
        <span class="h5 text-orange">08 квітня 2019</span>
        <br>
        <span class="accordion__desc">Відвідини Collio Friulano <br> Дегустація прошуто, сиру, вина</span>
      </span>
      <span class="accordion__col">
        <span class="icon-in-circle">
          <span class="icon-in-circle__in">
            <span></span>
            <span></span>
          </span>
        </span>
      </span>
    </button>
    <div class="accordion__content js-accordion-content">

      <div class="accordion__line">
        <div class="accordion__time">
          <div class="text-orange">8:00 - 9:00</div>
        </div>
        <div class="accordion__about">
          <div class="desc">Сніданок в готелі </div>
        </div>
        <div class="accordion__additionally"></div>
      </div>

      <div class="accordion__line">
        <div class="accordion__time">
          <div class="text-orange">9:00 - 14:00</div>
        </div>
        <div class="accordion__about">
          <div class="desc">Відвідини Collio Friulano: виробництво прошутто марки D’Osvaldo</div>
          <ul class="accordion__list">
            <li><a href="https://www.collio.it/cantine/" target="_blank" class="link">Сайт Collio Friulano {{mixins.icon('arr-right')}}</a></li>
            <li><a href="https://goo.gl/maps/xYXLmopmDdJ2" target="_blank" class="link">Подивитися на карті {{mixins.icon('arr-right')}}</a></li>
          </ul>
        </div>
        <div class="accordion__additionally"></div>
      </div>

      <div class="accordion__line">
        <div class="accordion__time">
          <div class="text-orange">14:00 - 15:00</div>
        </div>
        <div class="accordion__about">
          <div class="desc">Дегустація прошуто, сиру, вина</div>
          <ul class="accordion__list">
            <li><a href="#" target="_blank" class="link">Подивитися на карті {{mixins.icon('arr-right')}}</a></li>
          </ul>
        </div>
        <div class="accordion__additionally"></div>
      </div>

      <div class="accordion__line">
        <div class="accordion__time">
          <div class="text-orange">15:00 - 20:00</div>
        </div>
        <div class="accordion__about">
          <div class="desc">Екскурсія містом </div>
          <div class="desc"> Чивідале-дель-Фріулі</div>
          <div class="desc">Вечеря в античному ресторані, майстер-клас з приготування традиційної страви</div>
        </div>
        <div class="accordion__additionally">
          <div class="title-sm">
            Ресторан+кухар
          </div>
        </div>
      </div>

      <div class="accordion__line">
        <div class="accordion__time">
          <div class="text-orange">20:00</div>
        </div>
        <div class="accordion__about">
          <div class="desc">Поверення і готель, вільний час</div>
        </div>
        <div class="accordion__additionally"></div>
      </div>
    </div>
  </div>
  <!-- END accordion -->

  <!-- BEGIN accordion -->
  <div class="accordion__item js-accordion">
    <button type="button" class="accordion__header js-accordion-btn">
      <span class="accordion__col">
        <span class="accordion__text">
          ДЕНЬ 5 <span class="text-orange"> / </span> ВІВТОРОК
        </span>
      </span>
      <span class="accordion__col">
        <span class="h5 text-orange">09 квітня 2019</span>
        <br>
        <span class="accordion__desc">Екскурсія, дегустація місцевих продуктів</span>
      </span>
      <span class="accordion__col">
        <span class="icon-in-circle">
          <span class="icon-in-circle__in">
            <span></span>
            <span></span>
          </span>
        </span>
      </span>
    </button>
    <div class="accordion__content js-accordion-content">

      <div class="accordion__line">
        <div class="accordion__time">
          <div class="text-orange">8:00 - 10:00</div>
        </div>
        <div class="accordion__about">
          <div class="desc">Сніданок в готелі</div>
        </div>
        <div class="accordion__additionally"></div>
      </div>

      <div class="accordion__line">
        <div class="accordion__time">
          <div class="text-orange">11:00 - 17:00</div>
        </div>
        <div class="accordion__about">
          <div class="desc">Переїзд в гірську місцевість Sauris, Forni di Sopra</div>
          <div class="desc">Екскурсія, дегустація місцевих продуктів</div>
        </div>
        <div class="accordion__additionally"></div>
      </div>

      <div class="accordion__line">
        <div class="accordion__time">
          <div class="text-orange">17:00 - 19:00</div>
        </div>
        <div class="accordion__about">
          <div class="desc">Вечеря в ресторані</div>
          <ul class="accordion__list">
            <li><a href="#" target="_blank" class="link">Сайт ресторану {{mixins.icon('arr-right')}}</a></li>
            <li><a href="#" target="_blank" class="link">Подивитися на карті {{mixins.icon('arr-right')}}</a></li>
          </ul>
        </div>
        <div class="accordion__additionally">
          <div class="text-sm">Ресторан <br>Сомельє</div>
        </div>
      </div>

      <div class="accordion__line">
        <div class="accordion__time">
          <div class="text-orange">19:00</div>
        </div>
        <div class="accordion__about">
          <div class="desc">Повернення в готель.</div>
          <div class="desc">Вільний час</div>
          <ul class="accordion__list">
            <li><a href="#" target="_blank" class="link">Місце розташування готелю {{mixins.icon('arr-right')}}</a></li>
          </ul>
        </div>
        <div class="accordion__additionally"></div>
      </div>

    </div>
  </div>
  <!-- END accordion -->

  <!-- BEGIN accordion -->
  <div class="accordion__item js-accordion">
    <button type="button" class="accordion__header js-accordion-btn">
      <span class="accordion__col">
        <span class="accordion__text">
          ДЕНЬ 6 <span class="text-orange"> / </span> СЕРЕДА
        </span>
      </span>
      <span class="accordion__col">
        <span class="h5 text-orange">10 квітня 2019</span>
        <br>
        <span class="accordion__desc">Екскурсія на виноробню Azienda Agricola Giorgio Colutta <br> Лекція від сомельє «In vino veritas» <br> 7 принципів винної карти <br> Майстер-клас «Сервіс по-італійськи»</span>
      </span>
      <span class="accordion__col">
        <span class="icon-in-circle">
          <span class="icon-in-circle__in">
            <span></span>
            <span></span>
          </span>
        </span>
      </span>
    </button>
    <div class="accordion__content js-accordion-content">

      <div class="accordion__line">
        <div class="accordion__time">
          <div class="text-orange">8:00 - 10:00</div>
        </div>
        <div class="accordion__about">
          <div class="desc">Сніданок в готелі </div>
        </div>
        <div class="accordion__additionally"></div>
      </div>

      <div class="accordion__line">
        <div class="accordion__time">
          <div class="text-orange">10:00 - 13:00</div>
        </div>
        <div class="accordion__about">
          <div class="desc">Екскурсія на виноробню Azienda Agricola Giorgio Colutta</div>
          <div class="desc">Лекція від сомельє «In vino veritas» </div>
          <div class="desc">7 принципів винної карти</div>
        </div>
        <div class="accordion__additionally">
          <a href="#" class="member js-popup-open" data-target="Aleksandrovsky-Alex">
            <span class="member__pic">
              <img src="./img/people/people-2.jpg" alt="">
            </span>
            <span class="member__name text-orange">Aleksandrovsky Alex</span>
            <span class="member__desc">Гід</span>
          </a>
        </div>
      </div>

      <div class="accordion__line">
        <div class="accordion__time">
          <div class="text-orange">13:00 - 15:00</div>
        </div>
        <div class="accordion__about">
          <div class="desc">Обід в ресторані «Agriturismo Ai Conti di Maniago»</div>
          <div class="desc">Майстер-клас «Сервіс по-італійськи»</div>
          <ul class="accordion__list">
            <li><a href="#" target="_blank" class="link">Місце розташування готелю {{mixins.icon('arr-right')}}</a></li>
          </ul>
        </div>
        <div class="accordion__additionally">
          <a href="#" class="member js-popup-open" data-target="Aleksandrovsky-Alex">
            <span class="member__pic">
              <img src="./img/people/people-2.jpg" alt="">
            </span>
            <span class="member__name text-orange">Aleksandrovsky Alex</span>
            <span class="member__desc">Гід</span>
          </a>
        </div>
      </div>

      <div class="accordion__line">
        <div class="accordion__time">
          <div class="text-orange">15:00 - 17:00</div>
        </div>
        <div class="accordion__about">
          <div class="desc">Екскурсія на ферму Azienda Agricola Colutta Dott.Gianpaolo S.S</div>

          <ul class="accordion__list">
            <li><a href="#" target="_blank" class="link">Місце розташування готелю {{mixins.icon('arr-right')}}</a></li>
          </ul>
        </div>
        <div class="accordion__additionally">
          <a href="#" class="member js-popup-open" data-target="Aleksandrovsky-Alex">
            <span class="member__pic">
              <img src="./img/people/people-2.jpg" alt="">
            </span>
            <span class="member__name text-orange">Aleksandrovsky Alex</span>
            <span class="member__desc">Гід</span>
          </a>
        </div>
      </div>

      <div class="accordion__line">
        <div class="accordion__time">
          <div class="text-orange">17:00</div>
        </div>
        <div class="accordion__about">
          <div class="desc">Поверення в готель</div>
        </div>
        <div class="accordion__additionally"></div>
      </div>

    </div>
  </div>
  <!-- END accordion -->

  <!-- BEGIN accordion -->
  <div class="accordion__item js-accordion">
    <button type="button" class="accordion__header js-accordion-btn">
      <span class="accordion__col">
        <span class="accordion__text">
          ДЕНЬ 7 <span class="text-orange"> / </span> ЧЕТВЕРГ
        </span>
      </span>
      <span class="accordion__col">
        <span class="h5 text-orange">11 квітня 2019</span>
        <br>
        <span class="accordion__desc">Майстер-клас: «Стандарти якості і політика фудкосту» <br> Екскурсія на виробництво грапи ТМ НОНІНО (NONINO)</span>
      </span>
      <span class="accordion__col">
        <span class="icon-in-circle">
          <span class="icon-in-circle__in">
            <span></span>
            <span></span>
          </span>
        </span>
      </span>
    </button>
    <div class="accordion__content js-accordion-content">

      <div class="accordion__line">
        <div class="accordion__time">
          <div class="text-orange">8:00 - 10:00</div>
        </div>
        <div class="accordion__about">
          <div class="desc">Сніданок в готелі </div>
        </div>
        <div class="accordion__additionally"></div>
      </div>

      <div class="accordion__line">
        <div class="accordion__time">
          <div class="text-orange">10:00 - 13:00</div>
        </div>
        <div class="accordion__about">
          <div class="desc">Екскурсія в м. Трієст</div>
        </div>
        <div class="accordion__additionally"></div>
      </div>

      <div class="accordion__line">
        <div class="accordion__time">
          <div class="text-orange">13:00 - 16:00</div>
        </div>
        <div class="accordion__about">
          <div class="desc">Обід</div>
          <div class="desc">Майстер-клас: «Стандарти якості і політика фудкосту»:</div>
          <div class="accordion__wrap">
            <div class="desc"> - елементи харчової безпеки (санітарія та гігієна, контроль якості)</div>
            <div class="desc"> - ISO 22000, ХАСП для ресторану</div>
            <div class="desc"> - Європейський підхід до ціноутворення</div>
          </div>
        </div>
        <div class="accordion__additionally">
          <a href="#" class="member js-popup-open" data-target="Aleksandrovsky-Alex">
            <span class="member__pic">
              <img src="./img/people/people-2.jpg" alt="">
            </span>
            <span class="member__name text-orange">Грицьків Р.</span>
            <span class="member__desc">Директор ресторану/фахівець в харчовій безпеці</span>
          </a>
        </div>
      </div>

      <div class="accordion__line">
        <div class="accordion__time">
          <div class="text-orange">16:00 - 19:00</div>
        </div>
        <div class="accordion__about">
          <div class="desc">Екскурсія на виробництво грапи ТМ НОНІНО (NONINO)</div>
          <ul class="accordion__list">
            <li><a href="http://www.grappanonino.it/en" target="_blank" class="link">Сайт {{mixins.icon('arr-right')}}</a></li>
            <li><a href="https://goo.gl/maps/cCRwCsbw9dM2" target="_blank" class="link">Подивитися на карті {{mixins.icon('arr-right')}}</a></li>
          </ul>
        </div>
        <div class="accordion__additionally">

        </div>
      </div>
      <div class="accordion__line">
        <div class="accordion__time">
          <div class="text-orange">19:00</div>
        </div>
        <div class="accordion__about">
          <div class="desc">Поверення в готель</div>
        </div>
        <div class="accordion__additionally"></div>
      </div>

    </div>
  </div>
  <!-- END accordion -->

  <!-- BEGIN accordion -->
  <div class="accordion__item js-accordion">
    <button type="button" class="accordion__header js-accordion-btn">
      <span class="accordion__col">
        <span class="accordion__text">
          ДЕНЬ 8 <span class="text-orange"> / </span> п’ятниця
        </span>
      </span>
      <span class="accordion__col">
        <span class="h5 text-orange">12 квітня 2019</span>
      </span>
      <span class="accordion__col">
        <span class="icon-in-circle">
          <span class="icon-in-circle__in">
            <span></span>
            <span></span>
          </span>
        </span>
      </span>
    </button>
    <div class="accordion__content js-accordion-content">

      <div class="accordion__line">
        <div class="accordion__time"></div>
        <div class="accordion__about">
          <div class="desc">Виселення з готелю і переїзд в аереопорт Венеції.</div>
        </div>
        <div class="accordion__additionally"></div>
      </div>

      <div class="accordion__line">
        <div class="accordion__time"></div>
        <div class="accordion__about">
          <div class="desc">Для львівської групи екскурсія, дегустація вина.</div>
        </div>
        <div class="accordion__additionally"></div>
      </div>

    </div>
  </div>
  <!-- END accordion -->
</div>
