<footer class="footer">
  <div class="container">
    <div class="l l_around l_center">
      <div class="l__col l__col-order-2-xs text-left">
        <div class="footer__item">
          © Бізнес-тур 2018 <br>
          Всі&nbsp;права застережено
        </div>
      </div>

      <div class="l__col l__col-order-1-xs text-center">
        <a href="./privacy.html" target="_blank" class="footer__item footer__item_spacing upper">
          ПРАВОВА ІНФОРМАЦІЯ
        </a>
      </div>

      <div class="l__col l__col-order-3-xs text-right">
        <a href="https://goldwebsolutions.com/" target="_blank" class="footer__item">
          Created by
          Goldweb&nbsp;Solution
        </a>
      </div>

    </div>
  </div>
</footer>
