<header class="header js-header">
  <div class="header__top">
    <div class="container text-right">
      <a href="tel:+380972222222" class="header__link">+38 097 222 22 22</a>
      <a href="mailto:email@bisnestur.com?subject=Menu-feedback" class="header__link">email@bisnestur.com</a>
    </div>
  </div>

  <div class="header__content">
    <div class="container">
      <div class="l l_not-col l_center l_between">

        <a href="/" class="logo header__logo">
          Ciao&nbsp;<span>Italia</span>
        </a>

        {% set menu = [
          {
            text: 'ДЕТАЛІ ТУРУ',
            anchor: 'details'
          },
          {
            text: 'ЛОКАЦІЇ',
            anchor: 'location'
          },
          {
            text: 'ПРОГРАМА',
            anchor: 'program'
          },
          {
            text: 'ВАРТІСТЬ',
            anchor: 'cost'
          },
          {
            text: 'ПРО НАС',
            anchor: 'about'
          },
          {
            text: 'ЗАДАТИ ЗАПИТАННЯ',
            anchor: 'question'
          }
          ]
          %}
          <div class="header__menu">
            <nav class="header__nav nav">
              {% for item in menu %}
              <a href="#" class="nav__link js-go-to" data-go="{{item.anchor}}"> {{ item.text }}</a>
              {% endfor %}
            </nav>

            <a href="#" class="btn btn_full-orange js-go-to header__menu-hidden" data-go="question">Взяти участь</a>

            <div class="text-center">
    					{{mixins.icon('decor-line-bottom')}}

    					<ul class="soc soc_sm">
    						<li class="soc__item">
    							<a href="https://www.facebook.com/" target="_blank" class="soc__link">
    								{{ mixins.icon('fb')}}
    							</a>
    						</li>
    						<li class="soc__item">
    							<a href="https://plus.google.com/" target="_blank" class="soc__link">
    								{{ mixins.icon('google-plus')}}
    							</a>
    						</li>
    						<li class="soc__item">
    							<a href="https://www.instagram.com/" target="_blank" class="soc__link">
    								{{ mixins.icon('insta')}}
    							</a>
    						</li>
    						<li class="soc__item">
    							<a href="https://www.pinterest.com/" target="_blank" class="soc__link">
    								{{ mixins.icon('pinterest')}}
    							</a>
    						</li>
    						<li class="soc__item">
    							<a href="https://twitter.com/" target="_blank" class="soc__link">
    								{{ mixins.icon('tw')}}
    							</a>
    						</li>
    						<li class="soc__item">
    							<a href="https://vk.com/" target="_blank" class="soc__link">
    								{{ mixins.icon('vk')}}
    							</a>
    						</li>
    					</ul>
    				</div>
          </div>

          <a href="#" class="btn btn_full-orange btn_sm-mob js-go-to header__btn" data-go="question">Взяти участь</a>

          <button type="button" name="button" class="burger js-burger">
            <span></span>
            <span></span>
            <span></span>
          </button>
        </div>
    </div>
  </div>
</header>
