<div class="popup js-popup" data-modal="Aleksandrovsky-Alex">
	<div class="popup__container js-popup-container">
		<button class=" popup__close js-popup-close">
      {{ mixins.icon('close') }}
		</button>
		<div class="popup__in">
      <div class="team team_md">
        <div class="team__in">
          <div class="team__item">
            <div class="team__left">
              <div class="team__wrap">
                <div class="team__ava">
                  <img src="./img/team/team-1.jpg" alt="">
                </div>
              </div>
              <ul class="soc soc_sm">
                <li class="soc__item">
                  <a href="https://www.google.com.ua/" target="_blank" class="soc__link">
                    {{ mixins.icon('website')}}
                  </a>
                </li>
                <li class="soc__item">
                  <a href="https://www.facebook.com/" target="_blank" class="soc__link">
                    {{ mixins.icon('fb')}}
                  </a>
                </li>
                <li class="soc__item">
                  <a href="https://www.linkedin.com/feed/" target="_blank" class="soc__link">
                    {{ mixins.icon('in')}}
                  </a>
                </li>
              </ul>
            </div>
            <div class="team__right">
              <div class="team__name">Luisella Lovecchioр</div>

              <div class="team__desc">
                <p>20 років практики в управлінні проектами з розвитку та виходу на міжнародні рівні компаній, проджект менеджер міжнародними компаніями (Євросоюз, Україна та Росія)</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>

            </div>

          </div>
        </div>
      </div>
		</div>
	</div>
</div>
<div class="popup js-popup" data-modal="Aleksandrovsky-Alex-2">
	<div class="popup__container js-popup-container">
		<button class=" popup__close js-popup-close">
      {{ mixins.icon('close') }}
		</button>
    <div class="popup__in">
      <div class="team team_md">
        <div class="team__in">
          <div class="team__item">
            <div class="team__left">
              <div class="team__wrap">
                <div class="team__ava">
                  <img src="./img/team/team-1.jpg" alt="">
                </div>
              </div>
              <ul class="soc soc_sm">
                <li class="soc__item">
                  <a href="https://www.google.com.ua/" target="_blank" class="soc__link">
                    {{ mixins.icon('website')}}
                  </a>
                </li>
                <li class="soc__item">
                  <a href="https://www.facebook.com/" target="_blank" class="soc__link">
                    {{ mixins.icon('fb')}}
                  </a>
                </li>
                <li class="soc__item">
                  <a href="https://www.linkedin.com/feed/" target="_blank" class="soc__link">
                    {{ mixins.icon('in')}}
                  </a>
                </li>
              </ul>
            </div>
            <div class="team__right">
              <div class="team__name">Luisella Lovecchioр</div>

              <div class="team__desc">
                <p>20 років практики в управлінні проектами з розвитку та виходу на міжнародні рівні компаній, проджект менеджер міжнародними компаніями (Євросоюз, Україна та Росія)</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>

            </div>

          </div>
        </div>
      </div>
		</div>
	</div>
</div>
<div class="popup js-popup" data-modal="thanks-message">
	<div class="popup__container popup__container_sm js-popup-container">
		<button class=" popup__close js-popup-close">
      {{ mixins.icon('close') }}
		</button>
    <div class="popup__in text-center">
			<div class="popup__wrap">
				<img class="popup__img" src="./img/ok-lines.svg" alt="">
				<div class="popup__title">
					Дякуємо!<br> Ваше повідомлення надіслано.
				</div>
			</div>
		</div>
	</div>
</div>
