.form
  max-width: 820px
  width: 100%
  padding: 75px 40px 80px 130px
  +r(1400)
    padding: 75px 102px 80px 96px
  +md
    margin: 0 auto
    padding: 50px 60px
  +xs
    padding: 50px 20px
  &__title
    color: $orange
    margin-bottom: 40px
    +md
      text-align: center
      margin-bottom: 28px

  &__line
    margin-bottom: 20px
  &__btn
    margin-top: 40px
    +md
      margin-top: 25px


.form-details
  padding: 70px 0 75px
  +md
    padding: 40px 0 45px
    text-align: center
  &__title
    margin-bottom: 80px
    +md
      font-size: 36px
      margin-bottom: 45px
    +xs
      font-size: 30px
      padding: 0 20px
      margin-bottom: 40px
  &__text
    font-size: 16px
    margin-bottom: 80px
    line-height: 1.4
    +ubuntu-l
    +md
      font-size: 14px
      margin-bottom: 38px
    +xs
      margin-bottom: 30px


  &__phone
    display: block
    color: $black
    font-size: 24px
    +lora-b
    +tr(opacity .2s)
    &:hover
      opacity: 0.8
  &__email
    display: block
    font-size: 16px
    text-decoration: underline
    color: $green
    margin-top: 30px
    +ubuntu-l
    &:hover
      text-decoration: none
