$aboutMargin: 31px

.about-tour
  $this: &
  font-size: 0
  margin: 120px 0 45px
  +md
    margin: 75px 0 30px
  +xs
    max-width: 320px
    width: 100%
    margin: 50px auto 20px
  &__item
    position: relative
    display: inline-block
    vertical-align: top
    width: 33.3%
    +xs
      width: 100%
      &:not(:last-child)
        margin-bottom: 40px
    &:nth-child(3n+1)
      #{$this}__content
        margin: -45px 0px 0 189px
        z-index: 4
        +r(1800)
          margin: -30px 0 0 40px
        +lg
          margin: -42px 0 0 40px
        +md
          margin: -35px 0 0 15px
        +xs
          margin: -92px 0 0 48px
    &:nth-child(2n+2)
      margin-top: -40px
      +md
        margin-top: -20px
      +xs
        margin-top: 0
      #{$this}__content
        z-index: 3
        margin: 0 0 0 15px
        +r(1800)
          margin: -79px 0 0 -60px
        +lg
          margin: -26px 0 0 -24px
        +md
          margin: -35px 0 0 -15px
        +xs
          margin: -131px 20px 0
      #{$this}__img
        img
          object-fit: cover
          object-position: top
          max-height: 360px
  &__img
    margin: 0 auto
    +xs
      display: inline-block
      width: 270px
    img
      object-fit: contain
      width: 100%
      +lg
        object-fit: cover
        height: 400px
      +md
        height: 252px
        object-fit: cover
        object-position: 30%
      // width: 100%
  &__content
    // position: absolute
    // bottom: 0
    text-align: center
    background: #fff
    padding: 40px 25px
    max-width: 540px
    width: 100%
    +border
    +r(1400)
      min-width: 420px
    +lg
      min-width: 210px
      padding: 20px 10px
    +xs
      min-width: auto
      max-width: 250px
    > svg
      fill: $orange
      width: 190px
      height: 8px
      +md
        width: 96px
  &__desc
    font-size: 20px
    padding: 37px 50px
    +lora-i
    +r(1400)
      padding: 37px 60px
    +md
      font-size: 16px
      padding: 12px 10px 20px


  &__item_men,
  &__item_pizza
    #{$this}__img
      // max-width: 600px

  &__item_men
    +lg
      padding-right: 40px
    +md
      padding-right: 0
    #{$this}__content
      // right: -110px
    #{$this}__img
      img
        +xs
          height: 315px

  &__item_pizza
    +lg
      padding-left: 40px
    +md
      padding-left: 0
    #{$this}__content
      margin: -42px 0 0 -85px
      +r(1800)
        margin: -55px 0 0 -40px
      +lg
        margin: -35px 0 0 -20px
      +xs
        margin: -150px 0 0 49px
    #{$this}__img
      img
        +lg
          height: 350px
        +md
          height: 250px
        +xs
          height: 370px

  &__item_chief
    padding-left: 62px
    padding-right: 62px
    +lg
      padding-left: 20px
      padding-right: 20px
    +xs
      padding: 0
      text-align: right
    #{$this}__img
      max-width: 500px
      margin: 0 auto
      text-align: center
      img
        +xs
          height: 350px

    #{$this}__content
  //     right: 40px
  //     bottom: -50px
  // // &__item_chief
  // &__item_pizza
