$nav-margin: 40px
$nav-margin-md: 20px
$nav-margin-sm: 7px

.nav
  display: flex
  flex-flow: row nowrap
  align-items: center
  justify-content: space-between
  margin: 0 -#{$nav-margin}
  +r(1400)
    margin: 0 -#{$nav-margin-md}
  +r(1200)
    margin: 0 -#{$nav-margin-sm}
  +md
    flex-direction: column
    margin: 55px 0 65px
  &__link
    display: inline-block
    font-size: 13px
    color: $black
    margin: 0 $nav-margin
    padding: 42px 0
    letter-spacing: 1.1px
    text-transform: uppercase
    border-bottom: 1px solid transparent
    +tr(border-bottom-color .2s ease-in-out)
    will-change: padding
    +ubuntu-l
    &:hover
      border-bottom-color: $green
    +r(1400)
      margin: 0 $nav-margin-md
    +r(1200)
      margin: 0 $nav-margin-sm
    +md
      // width: 100%
      padding: 15px 0
      display: block
      border-width: 2px
      text-align: center
