.organization
  padding: 75px 0 60px
  +md
    padding: 45px 0 30px
  &__title
    +md
      margin-bottom: 50px
  &__text
    columns: 2
    column-gap: 40px
    font-size: 18px
    margin-bottom: 70px
    line-height: 1.35
    +ubuntu-l
    +md
      columns: 1
      column-gap: normal
      font-size: 14px
      margin-bottom: 40px
    > p
      overflow: hidden
      break-inside: avoid-column
      -webkit-column-break-inside: avoid
      &:not(:last-child)
        +md
          margin-bottom: 20px

  .icon-decor-line-top,
  .icon-decor-line-bottom
    max-width: 192px
    margin-bottom: 20px
    fill: $green
    +md
      max-width: 96px
      margin-bottom: 10px
  .icon-decor-line-bottom
    margin-bottom: 30px
