.places
  $this: &
  +gpu
  &__in
    position: relative
    border-radius: 50%
    margin: 0 auto 40px
    box-sizing: border-box
    +md
      margin-bottom: 30px
    &:before
      content: ''
      position: absolute
      top: 0
      right: 0
      bottom: 0
      left: 0
      z-index: 1
      border-radius: 50%
    #{$this}__center
      +vcenter

  &__circle
    position: absolute
    top: 0
    right: 0
    z-index: 9
    transform: rotateY(-180deg) rotateZ(-90deg)
    circle
      fill: none
  &__title-in
    font-size: 20px
    margin-bottom: 10px
    +lora-i
    +md
      font-size: 14px
  &__center
    .h4
      +md
        font-size: 18px
        margin-top: -10px

  &_white
    color: #fff
    &.is-visible
      #{$this}__circle circle
        animation: countdown 1.65s ease-in-out 1 forwards
    #{$this}__title
      font-size: 20px
      margin-bottom: 20px
      letter-spacing: 1.2px
      +ubuntu-l
      +md
        font-size: 16px
    #{$this}__in
      width: 140px
      height: 140px
      &:before
        border: 10px solid $dark-orange
    #{$this}__circle
      width: 140px
      height: 140px
      circle
        stroke-dasharray: 790px
        stroke-dashoffset: -452px
        stroke-width: 10px
        stroke: white


  &_green
    color: $black
    &.is-visible
      #{$this}__circle circle
        animation: countdown-big 1.65s ease-in-out	1 forwards
    #{$this}__title
      font-size: 20px
      margin-bottom: 20px
      +ubuntu-l

    #{$this}__in
      width: 380px
      height: 380px
      +md
        width: 220px
        height: 220px
      &:before
        border: 10px solid rgba($green, .25)
      span
        font-size: 72px
        +lora-b
        +md
          font-size: 48px
          line-height: 1
    #{$this}__circle
      width: 380px
      height: 380px
      +md
        width: 220px
        height: 220px
      circle
        stroke-dasharray: 790px
        stroke-dashoffset: -475px
        stroke: white
        stroke-width: 4px
        +md
          stroke-width: 7px
          r: 73.5
    .icon-decor-line-top
      fill: $green
      max-width: 192px
      width: 100%
      +md
        max-width: 96px

  & + .btn
    +md
      font-size: 22px

  .js-places-num
    will-change: contents

    
@keyframes countdown
  from
    stroke-dashoffset: -452px
  to
    stroke-dashoffset: -65px

@keyframes countdown-big
  from
    stroke-dashoffset: -475px
  to
    stroke-dashoffset: -55px
