.section
  position: relative
  background-size: cover
  background-position: 50% 50%

  &__item
    position: relative
    height: 100%

  &__item_image
    background-size: cover
    background-position: 50% 50%
    padding: 70px 12%
  &__col
    height: 50%
    display: flex
    flex-flow: column nowrap
    align-items: center
    justify-content: center
    padding: 0 20px

  &__col_orange
    background: $orange
  &__caption
    font-size: 20px
    padding: 0 5px 5px
    margin-bottom: 40px
    +ubuntu-l
  &__caption_border
    border-bottom: 2px solid $green
  &__button
    position: absolute
    bottom: 0
    left: 50%
    transform: translateX(-50%)
    width: 80px
    height: 80px
    border: 2px solid $orange
    +tr(background .15s)
    &:hover
      background: $orange
      svg
        fill: #fff
    > svg
      +vcenter
      width: 10px
      height: 30px
      fill: $orange
      +tr(fill .15s)
  &__decor
    margin: 0 auto 70px
    width: 380px
    height: 2px
  &__decor_orange
    background-color: $orange
  &__decor_green
    background-color: $green
  &__width
    max-width: 400px
    margin: 0 auto
    .decor-block
      margin: 35px 0
  &__width_title
    margin-bottom: 35px

  &_vh
    height: calc(100vh - 141px)

  &_gup
    padding: 90px 0 30px
  &_image
    max-height: 890px

.decor-block
  margin: 70px 35px
  &__text
    padding: 35px 0
  > svg
    fill: $orange
    max-width: 190px


.counter
  &__title
    font-size: 18px

    margin-bottom: 15px
    +ubuntu
  &__in
    display: flex
    flex-flow: row nowrap
    justify-content: space-between
  &__item
    flex: 1 0 auto
    &:not(:last-child)
      .counter__meta
        &:after
          content: ':'
          position: absolute
          right: 0
          top: 50%
          transform: translateY(-50%)
  &__meta
    position: relative
    font-size: 72px
  &__desc
    font-size: 16px
    +ubuntu

.meta
  position: relative
  float: right
  margin-top: 40px
  text-align: center
  background: #fff
  max-width: 810px
  width: 100%
  padding: 70px 210px 80px
  +border
  &__title
    margin-bottom: 40px
  &__decor
    margin: 40px 0 30px
