.section
  position: relative
  background-size: cover
  background-position: 50% 50%
  background-repeat: no-repeat
  &__item
    position: relative
    height: 100%
    .slider
      +xs
        display: none
  &__item_image
    background-size: cover
    background-position: 50% 50%
    padding: 63px 12%
    min-height: 750px
    +r(1400)
      padding: 63px 5%
    +md
      padding: 35px 20px
      min-height: 520px
      display: flex
      flex-flow: column
      justify-content: center
    +xs
      min-height: 355px
      margin-top: 192px
    .desc-sm
      max-width: 530px
      margin: 0 auto
      +md
        max-width: 270px
  &__item_image-sm
    min-height: 540px
    +r(1400)
      min-height: 540px
    +md
      min-height: 290px
      padding: 40px 20px 100px
    +xs
      margin-top: 0
      min-height: 290px
  &__col
    height: 50%
    display: flex
    flex-flow: column nowrap
    align-items: center
    justify-content: center
    padding: 0 20px
    +r(1400)
      padding: 0 100px
    +md
      padding: 0 85px
    +sm
      padding: 0 10px
    +xs
      padding: 50px 10px
  &__col_orange
    background: $orange
  &__caption
    font-size: 20px
    padding: 0 5px 10px
    letter-spacing: 1.2px
    margin-bottom: 30px
    +ubuntu-l
    +md
      font-size: 16px
      padding: 0 15px 8px
      letter-spacing: 1px
      margin-bottom: 20px
  &__caption_border
    border-bottom: 2px solid $green
  &__title
    font-size: 20px
    margin-bottom: 50px
    +lora-i
    +r(1400)
      margin: 0 auto 50px
      max-width: 80%
    +md
      font-size: 16px
      margin: 45px auto 25px
      max-width: 100%
  &__button
    position: absolute
    bottom: 0
    left: 50%
    transform: translateX(-50%)
    width: 80px
    height: 80px
    border: 2px solid $orange
    +tr(background .15s)
    &:hover
      background: $orange
      svg
        fill: #fff
    +md
      width: 50px
      height: 50px
    > svg
      +vcenter
      width: 10px
      height: 30px
      fill: $orange
      +tr(fill .15s)
  &__decor
    margin: 0 auto 65px
    width: 380px
    height: 2px
    +md
      max-width: 280px
      width: 100%
      margin-bottom: 40px
  &__decor_orange
    background-color: $orange
  &__decor_green
    background-color: $green
  &__width
    max-width: 395px
    margin: 0 170px 0 auto
    +r(1400)
      margin: 0 auto
    +md
      max-width: 525px
    .decor-block
      margin: 35px 0 30px
      +md
        margin: 15px 0 10px
  &__width_title
    margin-bottom: 40px
    +md
      margin-bottom: 10px
  &__relative
    position: relative
  &__line
    position: absolute
    height: 2px
    background: $orange
  &__line_sm
    width: 230px
    bottom: 340px
    right: -100px
    +r(1400)
      width: 170px
      bottom: 359px
      right: -66px
    +md
      width: 110px
      right: 0
      bottom: 240px
    +xs
      width: 100px
      bottom: 255px
  &__line_md
    width: 330px
    left: 0
    bottom: 218px
    +r(1400)
      width: 145px
      bottom: 213px
    +md
      width: 110px
      bottom: 165px
    +xs
      width: 100px
      bottom: 165px
  &_hidden-img-xs
    +xs
      background-image: none
  &_vh
    height: calc(100vh - 141px)
    min-height: 750px
    +lg
      min-height: 800px
    +md
      min-height: 200px
      height: calc(100vh - 107px)
    +xs
      min-height: auto
      height: auto
      background-size: 300%
      background-position: 25% -90px
  &_gup
    padding: 70px 0 30px
    +md
      padding: 43px 0 30px
  &_image
    max-height: 890px
    +md
      max-height: 580px

.bg-gray
  .section.section_image
    +xs
      max-height: 200px
      margin-bottom: 615px

.decor-block
  margin: 72px 35px 35px
  +r(1200)
    margin: 30px 0
  +xs
    margin: 15px 0
  &__text
    padding: 25px 0 35px
    +r(1200)
      padding: 10px 0 15px
  > svg
    fill: $orange
    max-width: 190px
    +r(1200)
      max-width: 96px

.counter
  max-width: 600px
  margin: 0 auto
  +md
    max-width: 450px
    width: 100%
  +sm
    max-width: 300px
  +xs
    display: none
  &__title
    font-size: 18px
    +ubuntu
    +r(1200)
      font-size: 14px
      margin-bottom: 10px
  &__in
    display: flex
    flex-flow: row nowrap
    justify-content: space-between
    align-items: center
  &__item
    flex: 1 0
    &:not(:last-child)
      .counter__meta
        &:after
          content: ':'
          position: absolute
          right: 0
          top: 50%
          transform: translateY(-50%)
          +r(1200)
            font-size: 32px
  &__meta
    position: relative
    font-size: 72px
    line-height: 1.15
    +gpu
    +lora-b
    +r(1200)
      font-size: 48px
      line-height: 1

  &__desc
    font-size: 16px
    +ubuntu
    +r(1200)
      font-size: 12px

.meta
  position: relative
  float: right
  margin-top: 40px
  text-align: center
  background: #fff
  max-width: 810px
  width: 100%
  padding: 70px 210px 80px
  +border
  +r(1400)
    max-width: 630px
    padding: 70px 120px 80px
  +md
    max-width: 280px
    padding: 43px 30px
    margin-top: 30px
  +xs
    margin-top: 170px
    max-width: 100%
  &__title
    margin-bottom: 40px
    padding: 0 5px
    +md
      margin-bottom: 30px
  &__decor
    margin: 40px 0
    +md
      margin: 30px 0
  .places__in
    margin-bottom: 60px
    +md
      margin-bottom: 25px
