.icon-arr-down {
  width: 0.33em;
  height: 1em;
  fill: none;
}
.icon-arr-left {
  width: 3em;
  height: 1em;
  fill: none;
}
.icon-arr-right {
  width: 3em;
  height: 1em;
  fill: none;
}
.icon-close {
  width: 1em;
  height: 1em;
  fill: none;
}
.icon-decor-line-bottom {
  width: 27.43em;
  height: 1em;
  fill: none;
}
.icon-decor-line-top {
  width: 24em;
  height: 1em;
  fill: none;
}
.icon-fb {
  width: 1em;
  height: 1em;
  fill: none;
}
.icon-google-plus {
  width: 1em;
  height: 1em;
  fill: none;
}
.icon-in {
  width: 1em;
  height: 1em;
  fill: none;
}
.icon-insta {
  width: 1em;
  height: 1em;
  fill: none;
}
.icon-pinterest {
  width: 1em;
  height: 1em;
  fill: none;
}
.icon-tw {
  width: 1em;
  height: 1em;
  fill: none;
}
.icon-vk {
  width: 1em;
  height: 1em;
  fill: none;
}
.icon-website {
  width: 1em;
  height: 1em;
  fill: none;
}
