.icon-arr-down {
  width: 0.33em;
  height: 1em;
  fill: none;
}
.icon-bla {
  width: 24em;
  height: 1em;
  fill: initial;
}
.icon-decor-line-bottom {
  width: 27.43em;
  height: 1em;
  fill: none;
}
.icon-decor-line-top {
  width: 24em;
  height: 1em;
  fill: none;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: none;
}
